@use "../../styles/partials/variables" as *;
.payment {
  color: $text-light;
  text-align: center;
  padding: 4rem 0;

  &__title {
    font-size: 3rem;
    font-weight: 400;
    margin-top: 0;
  }

  &__copy {
    font-size: 1.125rem;

    &--confirm {
      text-align: left;
      color: $bg-cta;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    gap: 8.5rem;
    margin-top: 3rem;
  }

  &__hidden {
    visibility: hidden;
  }

  &__card {
    width: 57rem;
    margin: 0 auto;
  }

  &__cta {
    height: 4.125rem;
    padding: 0 1rem;
    border: none;
    border-radius: 8px;
    background-color: $bg-cta;
    font-size: 1.75rem;
    font-weight: 600;
    box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.25);
    width: 21rem;

    cursor: pointer;

    &:hover {
      background-color: $bg-hover;
    }
  }
}
