@use "../../styles/partials/variables" as *;

.our-classes {
  color: $text-light;
  text-align: center;
  padding: 1.7rem;
  background-color: $bg-light;
  display: flex;

  &__title {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 0;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.5rem;
  }

  &__cta {
    height: 3.36rem;
    padding: 0 2rem;
    border: none;
    border-radius: 8px;
    background-color: $bg-cta;
    font-size: 1.125rem;
    font-weight: 600;
    box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    &:hover {
      background-color: $bg-hover;
    }
  }
}
