@use "../../styles/partials/variables" as *;

.instructor {
  display: flex;
  padding-top: 10rem;
  padding-bottom: 5rem;

  &__side {
    max-width: 18.6rem;
    text-align: center;
    padding: 0 10rem;
  }

  &__cta {
    height: 3.36rem;
    padding: 0 2rem;
    border: none;
    background-color: $bg-cta;
    font-size: 1.125rem;
    font-weight: 600;
    box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.25);
    min-width: 16.5rem;

    & + & {
      margin-top: 1rem;
    }
  }
}
