// /** Global StyleSheet =============================
//  Reset, Typography
//  ============================================== **/

@use "./variables" as *;
@use "./mixins";

body {
  margin: 0;
  padding: 0;
  background: $bg-dark;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
