/** Variables   ==============
    Colours, Breakpoints, Gap
=============================**/
$bright-blue: 33a9fe;
$navy-blue: 172231;
$black: 091423;
$background: E5E5E5;
/* Primary Colours */

/* Secondary Colours */

/* Background Colours */

/* Supporting Colours */

/* Break points */
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
