/** Variables   ==============
    Colours, Breakpoints, Gap
=============================**/

$bg-light: #3d4150;
$bg-dark: #282a36;

$bg-cta: #5cc9b5;
$bg-hover: #6cdcc8;

$text-light: #fff;
$text-dark: #000;

// Heba colors
$bright-blue: 33a9fe;
$navy-blue: 172231;
$black: 091423;
$background: E5E5E5;
