@use "../../styles/partials/variables" as *;

.class-card {
  display: flex;
  color: $text-light;
  max-width: 37.5rem;
  gap: 1.8125rem;
  margin: 1.45rem;
  text-align: left;

  &__title {
    margin: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__cta {
    height: 2.25rem;
    background-color: $bg-cta;
    border: none;
    padding: 0 1rem;
    font-weight: 600;
    box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.25);
    max-width: 7.5rem;
  }
}
