@use "../../styles/partials/variables" as *;

.search {
  padding: 0.25rem 1rem;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid $bg-light;
  display: flex;
  align-items: center;

  &__input {
    border: none;
    font-size: 1.5rem;

    &--text {
      &::before {
        content: url(../../assets/icons/search.png);
      }
    }
    &--location {
      &::before {
        content: url(../../assets/icons/location.png);
        position: relative;
        left: 40px;
      }
    }
    &--down {
      &::before {
        content: url(../../assets/icons/down.png);
        position: relative;
        left: 40px;
      }
    }

    &--city {
      border-left: 2px solid #a5a5a5;
      padding-left: 3rem;
    }

    &--hiit {
      border-left: 2px solid #a5a5a5;
      padding-left: 3rem;
    }
  }
}
