.our-instructors {
  background-color: #3d4150;
  display: flex;
  flex-direction: column;
}
.instructors-header {
  display: flex;
  justify-content: center;

  &__title {
    font-size: 32px;
    color: #ffffff;
    font-weight: lighter;
  }
}
.instructor-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.instructor-button {
  display: flex;
  justify-content: center;

  &__name {
    margin-top: 2rem;
    width: 222px;
    height: 54px;
    border: none;
    background-color: #5cc9b5;
    margin-bottom: 1rem;
  }
}
