@use "../../styles/partials/variables" as *;

.gym-card {
  background-color: $bg-dark;
  min-width: 31rem;
  height: 9.875rem;
  color: $text-light;
  display: flex;
  margin: 0.1875rem 0;
  cursor: pointer;

  &__logo {
    width: 10.125rem;
    object-fit: cover;
  }

  &__info {
    flex-grow: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }

  &__title {
    color: $bg-cta;
    font-size: 1.25rem;
    margin: 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__rating {
    margin-left: auto;
    margin-right: 0.25rem;
    position: relative;
    top: 2px;
  }

  &__reviews {
    margin: 0 0 0 auto;
  }

  &__copy {
    margin: 0;
  }
}
