@use "../../styles/partials/variables" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.625rem 5.25rem;

  height: 9.375rem;
  max-width: 120rem;
  background-color: $bg-light;

  box-sizing: border-box;

  &__profile {
    display: flex;
    align-items: center;
  }

  &__avatar {
    margin-left: 1.7rem;
  }

  &__logo {
    cursor: pointer;
  }
}
