@use "../../styles/partials/variables" as *;

.about {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  color: $text-light;
  padding: 3.875rem 0 6.7rem 0;
  margin-bottom: 3.1875rem;
  background-color: $bg-light;

  &__ctas {
    margin-top: 1.8rem;
  }

  &__cta {
    height: 3.36rem;
    padding: 0 2rem;
    border: none;
    background-color: $bg-cta;
    font-size: 1.125rem;
    font-weight: 600;
    box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.25);

    & + & {
      margin-left: 1rem;
    }
  }
}
