@use "../../styles/partials/variables" as *;
.booking-card {
  background-color: #3d4150;
  display: flex;
  justify-content: space-around;
  //   justify-content: center;
  //   width: 907px;
  //   height: 358px;
}
.program-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__title {
    font-size: 1.125rem;
    font-weight: lighter;
  }
}
.instructor-info {
  display: flex;
  justify-content: center;

  &__title {
    font-size: 1.125rem;
    font-weight: lighter;
  }
}
